@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
body{
  background: url("https://wallpaperaccess.com/full/1089112.jpg"),rgb(0, 0, 0) ;
  background-blend-mode:luminosity;
  background-repeat:no-repeat;
  background-size:cover;
   font-family: "Lexend Deca", sans-serif;
 
  
}
header{
  display:flex;
  align-items:center;
  gap:1rem;
  flex-wrap: wrap;
 
}
.language{
  margin-left:auto;
  
}
.rightheader{
    margin-left: auto;
    display: flex;
    gap:2rem;
}
.signin{
  color:white;
  font-weight:bold;
  background-color:red;
  border-radius:5px;
  padding:5px;
  border:none;
}
.content{
  color:white;
  backdrop-filter: brightness(50%);
  width:80%;
  margin:auto;
  text-align:center;
  margin-top: 40px;
  padding:20px;
}
input,button{
  border:0Px;
}
input{
  height:30px;
  width:60%;
  background-color:lightgrey;
  margin-left:10px;
}
.butt{
  margin-left: auto;
  color:white;
  font-weight:bold;
  background-color:red;
}
input:focus{
    outline: none;
}
input::placeholder{
  font-weight:bold;
}
.label{
  width:60%;
  display:flex;
  margin:auto;
  background-color:lightgrey;
  overflow:hidden;
 
}
